<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h1>Student</h1>
<p th:text=${student.firstName}>Student name</p>  <!--getFirstName()-->
<p th:text=${student.getLastName()}>Student Last Name</p>  <!--getLastName()-->
<p th:text=${student['email']}>Student Last Name</p>  <!--getLastName()-->

<a href="/student/new">New Student</a>


<!--<p th:text=${students[0].email}>Email</p>-->
<!--<p th:text=${students[1].email}>Email</p>-->
<!--<p th:text=${students[2].email}>Email</p>-->

<div>
    <table style="border: 1px solid">
        <tr th:each="st : ${students}" style="border: 1px solid">
            <td th:text="${st.firstName}"></td>
            <td th:text="${st.lastName}"></td>
            <td th:text="${st.age} > 18 ? 'Yes' : 'NO'"></td>
            <td th:text="${st.email}"></td>
        </tr>
    </table>
</div>
<br>

<div>
    <table style="border: 1px solid">
        <tr th:each="th : ${teachers}" style="border: 1px solid">
            <td th:text="${th.firstName}"></td>
            <td th:text="${th.lastName}"></td>
            <td th:text="${th.age} > 21 ? 'Yes' : 'NO'"></td>
            <td th:text="${th.email}"></td>
        </tr>
    </table>
</div>


<!--<P>IF</P>-->
<!--<div th:if="${students1.size()>2}">-->
<!--    <p th:text=${students1[1]}></p>-->
<!--</div>-->
<!--<br>-->
<!--<P>switch</P>-->
<!--<div th:switch="${students2.size()}">-->
<!--    <p th:case="1">First</p>-->
<!--    <p th:case="2">Second</p>-->
<!--    <p th:case="3">Third</p>-->
<!--</div>-->

</body>
</html>